{% extends "layout.html" %}
{% block content %}
	<div class="row">
		{% if current_user.is_authenticated() == 0 %}
		<div class="col-md-4 col-sm-3 col-xs-1"></div>
		<div class="col-md-4 col-sm-6 col-xs-10">
		<form name="sign-up" id="sign-up" method="POST" action="{{ url_for('sign_up') }}">
			<div class="form-group">
   				<label for="email">Email address</label>
				<input type="email" id="email" name="email" required="true" placeholder="Email" required="true" class="form-control">
			</div>
			<div class="form-group">
   				<label for="password">Password</label>
				<input type="password" name="password" id="password" placeholder="Enter password" required="true" class="form-control">
			</div>
			<div class="form-group">
   				<label for="firstname">Pseudo</label>
				<input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" required="true" class="form-control">
			</div>
			<input type="submit" value="Sign-up" class="btn btn-success">
		</form>
		</div>
		<div class="col-md-4 col-sm-3 col-xs-1"></div>
		{% else %}
			<div class="col-md-4 col-sm-3 col-xs-1"></div>
			<div class="col-md-4 col-sm-6 col-xs-10">
				<div class="row">
					{% if current_user.picturepath %}
						<img src="{{ current_user.picturepath }}" class="img-responsive">
					{% else %}
						<b>pas d'image</b>
					{% endif %}
				</div>
				<div class="row">
					<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title">Info</h3>
					  </div>
					  <div class="panel-body">
					  	<div class="col-md-1 col-sm-1 col-xs-1"></div>
					  	<div class="col-md-10 col-sm-10 col-xs-10">
						<div class="row">{{ current_user.username }}</div>
						<div class="row">{{ current_user.email }}</div>
						{% if current_user.name %}
						<div class="row">{{ current_user.name }}</div>
						{% endif %}
						{% if current_user.lastname %}
						<div class="row">{{ current_user.lastname }}</div>
						{% endif %}
						</div>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4"></div>
					<div class="col-md-4 col-sm-4 col-xs-4">
				    	<button type="button" class="btn btn-success" style="width:100%;">Update</button>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4"></div>
				</div>
			</div>
			<div class="col-md-4 col-sm-3 col-xs-1"></div>
		{% endif %}
	</div>

{% endblock %}